.section {
	background-color: var(--color-white);
	padding: torem(51) 0;
}

.title {
	padding-bottom: torem(48);

	@include tablet {
		padding-bottom: torem(20);
	}
}

.content {
	display: grid;
	grid-template-columns: 1fr torem(358);
	gap: torem(48);
	padding-bottom: torem(37);

	@include laptop {
		grid-template-columns: 1fr torem(250);
		gap: torem(25);
	}

	@include tablet {
		grid-template-columns: 1fr;
	}
}
