.link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.button {
	flex: 0 1 auto;
	position: relative;
	z-index: 2;

	@include mobile {
		width: 100%;
		flex: 1 1 auto;
	}
}

.card {
	position: relative;
	padding: torem(12);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--color-gray-200);
	border-radius: torem(6);
	transition: all 0.4s;

	&:hover:not(.isDeleted),
	&:focus:not(.isDeleted),
	&:active:not(.isDeleted) {
		background-color: var(--color-gray-100);
	}

	@include mobile {
		flex-wrap: wrap;
		gap: torem(12);
	}
}

.body {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	gap: torem(10);
	max-width: 70%;

	.isDeleted > & {
		opacity: 0.5;
	}

	@include mobile {
		max-width: 100%;
	}
}

.imgWrapper {
	position: relative;
	width: torem(100);
	aspect-ratio: 1 / 1;
	height: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s;
}

.img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
}

.name {
	display: block;

	&:not([disabled]):hover,
	&:not([disabled]):focus,
	&:not([disabled]):active {
		text-decoration: underline;
	}
}
