.link {
	padding: torem(12) 0 torem(12) torem(20);
	color: var(--color-white);
	font-size: torem(14);
	font-weight: 600;
	transition: all 0.4s;

	&:not([disabled]):hover,
	&:not([disabled]):focus,
	&:not([disabled]):active {
		color: var(--color-gray-200);
		text-decoration: underline;
	}

	&[disabled] {
		color: var(--color-gray-600);
	}
}
