.card {
	width: 100%;
}

.name {
	color: var(--color-gray-500);
}

.body {
	width: 100%;
	padding: torem(10) 0;
	border-bottom: 1px solid var(--color-gray-200);
}

.row {
	padding-bottom: torem(10);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;

	&.isTotal {
		padding-top: torem(10);
	}
}
